@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

div#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav {
  flex: 0 0 32px;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: #8f84af;
  box-shadow: 0px 3px 6px 3px #00000080;
}

.nav-brand {
  margin-left: 16px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav .header {
  margin-left: auto;
  padding-right: 8px;
}

.main {
  flex: 1;
  background-color: #bab6c5;
  padding: 4px;
  display: flex;
  flex-direction: row;
}

.side {
  display: flex;
  flex-direction: column;
}

.side-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex: 0 0 64px;
  margin: 4px;
  margin-bottom: 2px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px #00000040;
}

.side-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.desc {
  background-color: #ffffff;
  padding: 0px;
  width: 576px;
  display: flex;
  flex-direction: row;
  margin: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px #00000040;
  overflow: hidden;
  transition: width ease 0.5s 0s;
}

.desc-menu {
  padding: 4px;
  flex: 0 1 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.desc-content {
  padding: 4px;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  border-left-width: 1px;
  border-left-color: #bab6c5;
  border-left-style: solid;
  transition: all ease 2s 0s;
}

.desc-fold {
  width: 116px;
}

.problem {
  padding: 0px;
  width: 500px;
  display: flex;
  flex-direction: column;
  
}
.problem-list {
  flex: 0 0 240px;
  background-color: #ffffff;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px #00000040;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.problem-content {
  flex: 1;
  background-color: #ffffff;
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px #00000040;
  overflow: auto;
}

.workspace {
  padding: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor > #codearea > .codeflask {
  position: relative;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px #00000040;
}

.editor > #codearea {
  flex: 1;
  
}

.editor > #toolbar {
  margin-top: 4px;
  margin-bottom: 4px;
  overflow-x: hidden;
}

.editor > .console {
  flex: 0,2;
}

.editor > .console > textarea {
  flex: 1;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px #00000040;
  resize: none;
}

.console {
  height: 240px;
  display: flex;
}


/* Components */

textarea {
  border-width: 0px;
}

.markdown code {
  background-color: #ede7f1;
  padding: 2px;
  border-radius: 4px;
}

.markdown pre {
  background-color: #ede7f1;
  padding: 2px;
  border-left: 5px #8f84af solid ;
  border-radius: 4px;
}

button {
  min-height: 36px;
  max-height: 48px;
}

/* Others */

hidden {
  display: none;
  visibility: hidden;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: #8f84afa0;
  border-radius: 4px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}