body {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

div#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav {
  background-color: #bbb;
}

.main {
  background-color: #ddd;
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.desc {
  background-color: #daa;
  padding: 4px;
  width: 320px;
  display: flex;
  flex-direction: row;
}

.desc-menu {
  background-color: #8f8;
  padding: 4px;
  width: 64px;
}
.desc-content {
  background-color: #88f;
  padding: 4px;
  flex: 1;
}

.problem {
  background-color: #ada;
  padding: 4px;
  width: 320px;
  display: flex;
  flex-direction: column;
}
.problem-list {
  background-color: #f88;
  padding: 4px;
  height: 256px;
}

.problem-content {
  background-color: #88f;
  padding: 4px;
  flex: 1;
}

.workspace {
  background-color: #aad;
  padding: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor {
  flex: 1;
  display: flex;
}

.editor > textarea {
  flex: 1;
}

.console {
  height: 240px;
  display: flex;
}

.console > textarea {
  flex: 1;
}
